/* src/pages/ResultsPage/ResultsPage.css */
.Box {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.Typography {
    color: #333;
    margin: 10px 0;
}

.Card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.PieChart,
.BarChart {
    margin: 20px 0;
}